.brand,
.navLink,
#basic-nav-dropdown {
  color: gray;
  font-weight: 700;
}

Nav a:hover {
  text-decoration: none;
}

Nav a:hover .navLink {
  color: #9b8036;
}

#toggle {
  border: 2px solid gray;
}

#collapse {
  /* border: 1px solid red; */
  /* padding-bottom: 100px; */
}

.bg-color {
  background-color: #f0f0ef;
  height: auto;
}
