.brand,
.navLink,
#basic-nav-dropdown {
  color: gray;
  font-weight: 700;
}

Nav a:hover {
  text-decoration: none;
}

Nav a:hover .navLink {
  color: #9b8036;
}

#toggle {
  border: 2px solid gray;
}

.bg-color {
  background-color: #f0f0ef;
}

.navbar {
  height: auto;
}
